@using AxiLogic.Classes 
@model CategoryModel
@{
    Layout = null;}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Categories</title>
</head>
<body>

 @{
     var listItems = new List<SelectListItem>();
            if (Model.Categories != null)
            {
                foreach (var category in Model.Categories)
                {
                    listItems.Add(new SelectListItem
                    {
                        Text = @category.Name,
                        Value = @category.Id.ToString()
                    });
                }
            }
 }

@using (Html.BeginForm())
{
    @Html.DropDownListFor(model => model.CategoryId, listItems, "Choose A Category", new { @class = "category-dropdown" })
    <button type="submit" name="Remove Category" value="Remove Category" 
            formaction="DeleteCategory" formmethod="post">Remove Category</button> 
 
    @Html.AntiForgeryToken()
    <p>@Html.LabelFor(model => model.CategoryName)</p>
    @Html.TextBoxFor(model => model.CategoryName)
    <button type="submit" name="Add Category" value="Add Category" 
            formaction="AddCategory" formmethod="post">Add Category</button>
                                                           
    <button type="submit" name="Update Category" value="Update Category" 
            formaction="UpdateCategory" formmethod="post">Update Category</button>  
}
</body>
</html>
