@model CategoryModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Categories</title>
</head>
<body>
<select size="@Model.Categories.Count" id="category-select">
    @foreach (var category in Model.Categories)
    {
        <option value="@category.Id">@category.Name</option>
    }
</select>

<button onclick='removeCategory($("#category-select").val())'>Remove Category</button>


@using (Html.BeginForm("AddCategory", "Home", new{categoryName = Model.CategoryName} ,FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <p>@Html.LabelFor(model => model.CategoryName)</p>
    @Html.TextBoxFor(model => model.CategoryName)

    <button type="submit">Add Category</button>
}

@using (Html.BeginForm("UpdateCategory", "Home", new{categoryName = Model.CategoryName} ,FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <p>@Html.LabelFor(model => model.CategoryName)</p>
    @Html.TextBoxFor(model => model.CategoryName)

    <button type="submit">Update Category</button>
}
</body>
</html>