@model ShipmentViewModel
@{
    Layout = "_ScannerLayout";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Deliveries</title>
</head>
<body>
<div class="main-screen">
    <input type="search" class="search-bar" placeholder="&nbsp;Type to search...">
    @{
        if (Model.ShipmentModels != null)
        {
            {
                foreach (var shipment in Model.ShipmentModels)
                {
                    <div class="delivery-container" onclick="openShipment(@shipment.Id)">
                        <p id="delivery-container-name">@shipment.Name</p>
                        <p id="delivery-container-id">@shipment.InvoiceId</p>
                        <p id="delivery-container-date">@shipment.Date</p>
                    </div>
                }
            }
        }
    }
    <div class="delivery-modal" id="delivery-modal">
        <div class="info-box">
            <div class="delivery-modal-return" onclick="hideElement('delivery-modal')"> < </div> @*TODO shouldn't be on the page > submit delivery button instead*@
            <button class="submit-button btn-active" style="position:absolute; right:3rem; margin-top: 8rem; height: 5rem; width: 18rem; font-size: 2rem">Submit Delivery</button>
            <p id="info-box-id">Invoice Id: 0</p>
            <p id="info-box-date">Date: @DateTime.Now</p>
        </div>
        <div class="info-box-back-wall" id="info-box-back-wall"></div>
        <div class="article-container" id="article-container" style="display: none">
            <div class="article-image-box">
                <img src="~/images/vector-Search.png" alt="article-image" class="article-image">
            </div>
            <img src="~/images/add.png" alt="add-button" style="height:80px; width:auto; position:absolute; right:12rem; margin-top: 10.5rem">
            <img src="~/images/remove.png" alt="remove-button" style="height:80px; width: auto; position:absolute; right:18rem; margin-top: 10.5rem">
            <p class="article-container-name">ArticleName</p>
            <p class="article-container-amount">0/10</p>
        </div>
        <div id = "articleList">
            
        </div>
        </div>

</div>
</body>
</html>