@{
    Layout = "_ScannerLayout";
}
@model MoveArticleViewModel

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Take Article</title>
</head>

<body>
<div class="place-take-article-main">
@using (Html.BeginForm("TakeArticle", "Home", FormMethod.Post))
{
    <p>Article ID:</p>
    @Html.TextBoxFor(model => model.articleID, new {})
    <p>Row Name:</p>
    @Html.TextBoxFor(model => model.RowName, new {})
    <p>Rack Location:</p>
    @Html.TextBoxFor(model => model.RackLocation, new {})
    <p>Plank Location:</p>
    @Html.TextBoxFor(model => model.PlankLocation, new {})
    <p>Pallet Location:</p>
    @Html.TextBoxFor(model => model.PalletLocation, new {})
    <p>Amount:</p>
    @Html.TextBoxFor(model => model.amount, new {})
    <button type="submit">
        Take Article
    </button>
}
</div>
</body>
</html>