@model ShipmentViewModel
@{
    Layout = "_ScannerLayout";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Deliveries</title>
</head>
<body>
<div class="main-screen">
    <input type="search" class="search-bar" placeholder="&nbsp;Type to search...">
    @{
        if (Model.ShipmentModels != null)
        {
            {
                foreach (var shipment in Model.ShipmentModels)
                {
                    <div class="delivery-container" onclick="openShipment(@shipment.Id, '@shipment.Name')">
                        <p id="delivery-container-name">@shipment.Name</p>
                        @* <p id="delivery-container-id">@shipment.InvoiceId</p> *@
                        <p id="delivery-container-date">@shipment.Date</p>
                    </div>
                }
            }
        }
    }
    <div class="delivery-modal" id="delivery-modal">
        <div class="info-box">
            <div class="delivery-modal-return" onclick="hideElement('delivery-modal')"> < </div> @*TODO shouldn't be on the page > submit delivery button instead*@
            <button class="submit-button btn-active" style="position:absolute; right:3rem; margin-top: 8rem; height: 5rem; width: 18rem; font-size: 2rem" onclick="submitShipment()">Submit Delivery</button>
            <p id="info-box-realId" style="visibility: hidden"> </p>
            <p id="info-box-id">ShipmentName: </p>
            <p id="info-box-date">Date: @DateTime.Now</p>
        </div>
        <div class="info-box-back-wall" id="info-box-back-wall"></div>
        <div class="article-container" id="article-container" style="display: none">
            <div class="article-image-box">
                <img src="~/images/vector-Search.png" alt="article-image" class="article-image">
            </div>
            <div class="add-btn-container" onclick='scanDeliveryArticleAdd($(this).parent().find(".article-barcode").text())' style="height:80px; width:auto; position:absolute; right:12rem; margin-top: 10.5rem; cursor: pointer">
                <img src="~/images/add.png" alt="add-button" style="height:80px; width:auto">
            </div>
            <div class="remove-btn-container" onclick='scanDeliveryArticleRemove($(this).parent().find(".article-barcode").text())' style="height:80px; width: auto; position:absolute; right:18rem; margin-top: 10.5rem; cursor: pointer">
                <img src="~/images/remove.png" alt="remove-button" style="height:80px; width:auto">
            </div>
            <p class="article-container-name">ArticleName</p>
            <p class="article-container-amount">0/10</p>
            <div class="article-barcode" style="visibility:hidden">Lorem</div>
            <div class="article-id" style="visibility:hidden">Lorem</div>
        </div>
        <div id="article-list" class="article-list">
        </div>
    </div>
</div>
</body>
</html>