@model ArticleModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>title</title>
</head>
<body>
@using (Html.BeginForm())
{
    
    @Html.AntiForgeryToken()
    
    <div class="new-article-modal" id="new-article-modal">
        <div class="new-article-modal-image-box">
            <img src="~/images/vector-Search.png" alt="Search-Icon">
        </div>
        
        <button type="submit" class="btn-submit-article btn-active">
            <h4>Save</h4>
        </button>
        
        @*todo Create functions to check if name and price are null or whitespace > exception*@
        @*Inputs fields and labels*@
            @* <div class="form-group"> *@
        <p>@Html.LabelFor(model => model.Name, new {@class = "new-article-modal-name-input-label "})</p>
           @Html.TextBoxFor(model => model.Name, new {@class = "new-article-modal-name-input "})
 
        <p>@Html.LabelFor(model => model.CategoryName, new {@class = "new-article-modal-categoryname-input-label"})</p>
            @Html.TextBoxFor(model => model.CategoryName, new {@class = "new-article-modal-categoryname-input"})
            
        <p>@Html.LabelFor(model => model.Price, new {@class = "new-article-modal-price-input-label"})</p>
        @Html.TextBoxFor(model => model.Price, new {@class = "new-article-modal-price-input"})
            
        @Html.TextBoxFor(model => model.ImgRef, new {@class = "new-article-modal-add-img-input"})
        @Html.TextAreaFor(model => model.Description, new {@class = "new-article-modal-description-input"})
 
          
        <div class="exit-cross-container"> 
            <a asp-controller="Home" asp-action="Articles" class="">
                <img src="~/images/exit-Cross.png" alt="Exit-Cross" onclick="hideElement('new-article-modal')">
            </a> 
            
        </div>
    </div>
}
</body>
</html>